<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main text-capitalize font-weight-bold mt-2" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item">
                <a href="@Url.Action("Index","Home")" data-i18n="nav.dash.dashboard"class="text-decoration-none mt-4">
                    <i class="fa-solid fa-gauge-high"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("About","Master")" data-i18n="nav.dash.about" class="text-decoration-none ">
                    <i class="fa-solid fa-user "></i> About
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Banner","Master")" data-i18n="nav.dash.banner" class="text-decoration-none ">
                    <i class="fa-solid fa-image "></i> Banner
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Product","Master")" data-i18n="nav.dash.product" class="text-decoration-none ">
                    <i class="fa-brands fa-product-hunt "></i> Product
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("ProductDetails","Master")" data-i18n="nav.dash.product_details" class="text-decoration-none ">
                    <i class="fa-brands fa-product-hunt "></i> Product Details
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("AboutDetails","Master")" data-i18n="nav.dash.about_details" class="text-decoration-none ">
                    <i class="fa-solid fa-address-card "></i> About Details
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Status","Master")" data-i18n="nav.dash.status" class="text-decoration-none ">
                    <i class="fa-solid fa-chart-bar "></i> Status
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Contact","Master")" data-i18n="nav.dash.contact" class="text-decoration-none ">
                    <i class="fa-solid fa-id-badge "></i> Contact
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("CustomberFeedback","Master")" data-i18n="nav.dash.customer_feedback" class="text-decoration-none ">
                    <i class="fa-solid fa-comments "></i> Customer Feedback
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Blog","Master")" data-i18n="nav.dash.blog" class="text-decoration-none ">
                    <i class="fa-solid fa-blog "></i> Blog
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("BlogDetails","Master")" data-i18n="nav.dash.blog_details" class="text-decoration-none ">
                    <i class="fa-solid fa-circle-info "></i> Blog Details
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Services","Master")" data-i18n="nav.dash.services"class="text-decoration-none ">
                    <i class="fa-solid fa-server "></i> Services
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Gallery","Master")" data-i18n="nav.dash.gallery" class="text-decoration-none ">
                    <i class="fa-solid fa-images "></i> Gallery
                </a>
            </li>
        </ul>
    </div>
</div>
