@model Web.Areas.Panel.Model.MasterModel
@{
    ViewBag.Title = "Services"; int i = 0;
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
    var Type = TempData["AlertType"] ?? string.Empty;
    var Title = TempData["AlertTitle"] ?? string.Empty;
    var Message = TempData["AlertMessage"] ?? string.Empty;
}

<div class="container marginform">
    <div class="card-body">
        @using (Html.BeginForm("SaveServices", "Master", FormMethod.Post, new { @Class = "was-validated", @enctype = "multipart/form-data" }))
        {
        <div class="form-body">
            <h4 class="form-section">Services</h4>
            <div class="row">
                <div class="col-md-6 mb-1">
                    <label class=" label-control" for="">Services heading</label>

                    @Html.TextBoxFor(m => m.Services_Obj.Services_Heading, new { @class = "form-control border-primary", @type = "text", @placeholder = "Services Heading" })

                </div>
                <div class="col-md-6 mb-1">

                    <label class="label-control" for="ServicesId">Services Description</label>

                    @Html.TextBoxFor(m => m.Services_Obj.Services_Description, new { @class = "form-control border-primary", @type = "text", @placeholder = "Services Description", @autocomplete = "off", @required = "required" })

                </div>

                <div class="col-md-6 mb-1">

                    <label class=" label-control">Upload Image</label>
                    @Html.TextBoxFor(m => m.Services_Image, new { @class = "form-control border-primary", @type = "file", @placeholder = "Upload Image", @autocomplete = "off" })

                </div>
            </div>


            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="reset" class="btn btn-warning">
                            <i class="ft-x"></i> Cancel
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-check-square-o"></i> Save
                        </button>
                    </div>
                </div>
            </div>
            <h4 class="form-section"></h4>
        </div>
        }

    </div>

    <div class="card-body card-dashboard">
        @*<p class="card-text">

            </p>*@
        <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper dt-bootstrap4" style="margin: -54px 7px 3px 4px;">
            <div class="row" style="margin-top: 75px;">
                <div class="col-md-6 ">
                    <div class="dt-buttons btn-group">
                        <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="DataTables_Table_2" type="button"><span>Copy</span></button>
                        <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="DataTables_Table_2" type="button"><span>Excel</span></button>
                        <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="DataTables_Table_2" type="button"><span>PDF</span></button>
                        <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0" aria-controls="DataTables_Table_2" type="button" aria-haspopup="true"><span>Column visibility</span></button>
                    </div>
                </div>
                <div class="offset-md-3 col-md-3 ">
                    <div id="DataTables_Table_2_filter" class="dataTables_filter" style="margin-top:-15px;">
                        <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_2"></label>
                    </div>
                </div>
            </div>


            <table class="table table-striped table-bordered dataex-html5-selectors dataTable" id="DataTables_Table_2" role="grid" aria-describedby="DataTables_Table_2_info">
                <thead class="thead-dark">
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 136.312px;">Services Id</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 215.719px;">Services Code</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 100.109px;">Services Heading</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 33.4375px;">Services  Description</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 84.0781px;">Upload Image</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 84.0781px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.List_Services_Obj != null && Model.List_Services_Obj.Count > 0)
                    {
                        foreach (var items in Model.List_Services_Obj)
                        {
                            <tr>
                                <td>@(++i)</td>
                                <td>@items.Services_Code</td>
                                <td>@items.Services_Heading</td>
                                <td>@items.Services_Description</td>
                                @if (items.Services_Image != null)
                                {
                                    <td><img src="@Url.Content(items.Services_Image)" style=" width: 150px;height: 60px;" /></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @*<td><a href="@Url.Action("EditServices","Master", new {Services_Id= items.Services_Id })" class="btn btn-warning text-dark">Edit</a> </td>
                                    <td><a href="@Url.Action("DeleteServices","Master", new { Services_Id= items.Services_Id })" class="btn btn-green text-dark">Delete</a></td>*@
                                <td>
                                    <ul class="action">

                                        <li class="edit">
                                            @using (Html.BeginForm("EditServices", "Master", FormMethod.Post, new { @id = "Edit_Form_" + i.ToString() }))
                                            {
                                                @Html.Hidden("Services_Id", items.Services_Id)
                                                <a href="javascript:document.getElementById('Edit_Form_@i').submit()" class="text-warning"><i class="fa fa-edit text-warning"></i></a>
                                            }

                                        </li>
                                        <li class="delete">
                                            @using (Html.BeginForm("DeleteServices", "Master", FormMethod.Post, new { @id = "Delete_Form_" + i.ToString() }))
                                            {
                                                @Html.Hidden("Services_Id", items.Services_Id)
                                                <a href="#" onclick="ConfirmDelete('Delete_Form_@i')" class="text-warning"><i class="fa fa-trash text-danger"></i> </a>
                                            }

                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_2_previous"><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="DataTables_Table_2_next"><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div>
        </div>
    </div>
</div>
<script>
    window.onload = function (e) {
        $("#title").html('Services')
    }
    //Alert
    $(document).ready(function () {
        var Message = '@Message';
        if (Message != '') {
            if ('@Type' == 'success') {
                iziToast.success({
                    title: '@Title',
                    message: '@Message',
                });
            }
            else if ('@Type' == 'warning') {
                iziToast.warning({
                    title: '@Title',
                    message: '@Message',
                });
            }
            else if ('@Type' == 'error') {
                iziToast.error({
                    title: '@Title',
                    message: '@Message',
                });
            }
        }
    });
    //Confirmation For Delete
    function ConfirmDelete(Form_Id) {
         event.preventDefault();
        iziToast.error({
            title: 'Are you sure ?',
            message: 'This Services Will Be Deleted !',
            position: 'center',
            buttons: [
                ['<button>OK</button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    document.getElementById(Form_Id).submit()
                }, false], // true to focus
                ['<button>Close</button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    iziToast.info({
                        title: 'Cancelled',
                        message: 'Your Data Is Safe !',
                    });
                }]
            ]
        });
    };

</script>